extends layout

block content
  style
    include:stylus ../assets/css/index.styl
  script
    include:coffee ../assets/js/index.coffee

  include ../assets/img/error-icon.svg
  h1 Something went wrong : (
