body
  background #F4F2F0
  font-family "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif

svg, h1
  margin .8em 2em

h1
  color #A49E9A
  font-weight 300
  text-align center

svg
  display block
  margin-left auto
  margin-right auto
